<settings>
<category label="Connection Settings">
     <setting id="lehekylg" type="text" label="Website" default="http://server.sibfungold.info"/>http://mytv.fun:8080/get.php?username=FranzGaiga&password=ti2ef23bf8&type=m3u_plus&output=ts
     <setting id="kasutajanimi" type="text" label="Username" default="texchange2020"/>
     <setting id="salasona" type="text" option="writeable,hidden" label="Password" default="Vd53Kmdbbxsewzp8/"/>
     <setting id="pordinumber" type="text" label="Port" default="8080"/>
</category>
<category label="Other Settings">
	 <setting id="uuendused" type="bool" label="Check updates at startup?"value="true"/>
	 <setting id="improve" type="bool" label="Use Advanced Settings?"value="false"/>
	 <setting id="vanemalukk" type="bool" label="Parental lock?"value="true"/>
	 <setting id="vanemakood" type="text" option="writeable,hidden" label="Parental code" default="1234"/>
</category>
</settings>